@import "tailwindcss";
@import "flowbite";


@theme {
  /* primary colors */
  --color-primary: #107eeb;
  --color-clight-blue: #ccddf0;

  /* neutral colors */
  --color-cwhite: #fafbfb;
  --color-clight-gray: #eaeaea;
  --color-cmedium-gray: #a7a7a7;
  --color-cdark-gray: #606162;
  --color-cextra-dark-gray: #191d20;

  /* semantic colors */
  --color-success: #35c56a;
  --color-warning: #f7b731;
  --color-info: #107eeb;

  /* box shadow */

  --shadow-normal: 0px 4px 12px rgba(0, 0, 0, 0.06);
  --shadow-light: 0px 4px 12px rgba(0, 0, 0, 0.03);

  /* font sizes */
  /* text-h1 or text-h1-lg */
  --text-h1: 2rem; /* 32px */
  --text-h1-lg: 2.25rem; /* 36px */

  --text-h2: 1.5rem; /* 24px */
  --text-h2-lg: 1.75rem; /* 28px */

  --text-section: 1.25rem; /* 20px */
  --text-section-lg: 1.375rem; /* 22px */

  --text-body: 1rem; /* 16px */
  --text-body-sm: 0.875rem; /* 14px */

  --text-small: 0.8125rem; /* 13px */
  --text-small-sm: 0.75rem; /* 12px */

  --text-button: 1rem; /* 16px */
  --text-button-sm: 0.875rem; /* 14px */

  /* font weight */
  /* font-heading or font-heading-bold (exclude "weight")  */
  --font-weight-heading: 600;
  --font-weight-heading-bold: 700;

  --font-weight-body: 400;
  --font-weight-body-medium: 500;

  --font-weight-button: 500;
  --font-weight-button-bold: 600;

  /* letter spacing  */
  --tracking-tight: -0.01em;
  --tracking-default: 0em;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-cextra-dark-gray;
  @apply bg-cwhite;
}

html {
  scroll-behavior: smooth;
}
